<%- include head%>
<title>Doctor</title>
<%- include body%>
<%- include content%>




<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"><%=doctor.name%></h1>
  </div>

  <!-- Content Row -->
  <div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Szakterület</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=doctor.spec%></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Város</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=doctor.city%></div>
            </div>
            <div class="col-auto">
              <i class="fas fa-calendar fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Átlagos várakozási idő</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800"><%=doctor.wait%> Nap</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clock fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Átlag Elégedettség</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=doctor.sumrate%></div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%-doctor.sumrate*20%>%"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Kapcsolat</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">
                <a href="<%-doctor.cont%>">Telefonszám</a>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-comments fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%if(message.error){%>
  <div class="row">
    <div class="col-lg-6 col-md-6 ">
      <div class=" text-center">
        <p class="btn bg-gradient-danger btn-user btn-block text-gray-100">
          <%=message.error%>
        </p>
      </div>
    </div>
  </div>
  <%}%>
  
  <form name="myform" method="POST" oninput="range1value.value = rate.valueAsNumber">
    <div class="row">
      <div class="col-lg-6 mb-4">
        <div class="card shadow h-100 mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-success">Hozzászólás</h6>
          </div>
          <div class="card-body">
            <textarea rows="2" cols="80" name="comment" placeholder="Hozzászólás..."
              class="form-control form-control-user" style="resize:none"></textarea>
          </div>
        </div>
      </div>

      <div class="col-xl-3 col-md-6 mb-4 mh-100">
        <div class="card text-white shadow mb-4">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Elégedettség</div>
                <div class="row no-gutters align-items-center">
                  <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800 range" name="range1value" for="range1">
                      <output name="range1value" for="range1">0</output></div>
                  </div>
                  <div class="col">
                    <div class="progresss progress-sm mr-2 h-100">
                      <input type="range" min="0" max="5" value="0" name="rate">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
              </div>
            </div>
          </div>
        </div>
        <div>
          <input type="submit" name="" value="Mentés" class="btn btn-success btn-user btn-block">
        </div>
      </div>
    </div>
  </form>

  <%# //////////////////////////////////////// %>
  <!-- Content Row -->
  <%for(let i =doctor.rate.length-1;i>=0;i--){%>
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card shadow h-100 mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-success">Hozzászólás</h6>
        </div>
        <div class="card-body text-lg font-weight-bold text-gray-800">
          <p><%= doctor.comment[i]%></p>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4 mh-100">
      <div class="card text-white shadow">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Elégedettség</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                  <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%=doctor.rate[i]%></div>
                </div>
                <div class="col">
                  <div class="progress progress-sm mr-2">
                    <div class="progress-bar bg-success" role="progressbar" style="width:<%-doctor.rate[i]*20%>%"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="5"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-hands-helping fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%}%>
  
</div>
</div>

  <% //////////////////////////////////////// %>



</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; MarkMyDoctor</span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="login.html">Logout</a>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>